*.iml
.gradle
local.properties
.idea
.DS_Store
build
captures
.externalNativeBuild
.project
.settings

MVVMFrame/.classpath
MVVMFrame/.project
MVVMFrame/.settings

app/.classpath
app/.project
app/.settings