<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.leonyr.mvvm">

    <application>
        <activity
            android:name=".act.Common"
            android:configChanges="orientation|screenSize|keyboardHidden"
            android:launchMode="singleTask"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan|stateHidden" />

        <provider
            android:name="com.leonyr.permissionx.ClarityPotion"
            android:exported="false"
            android:multiprocess="true"
            android:authorities="${applicationId}.claritypotion"/>
    </application>

</manifest>
